<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src = '/static/js/script.js'></script>
</head>
<body>
    <h1>Hello world!</h1>
    <div class="a">
        <a href="/post/all">Posts</a>
        <img src="https://w7.pngwing.com/pngs/964/995/png-transparent-smiley-emoticon-thumb-signal-emoji-dank-face-smiley-thumb-signal.png" alt="smile">
    </div>
    <p>Opisanie stranicy</p>
</html>