<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/css/posts.css">
    <script src = '/static/js/posts.js' defer></script>
</head>
<body>
    <h1>Posts</h1>
    <% posts.forEach((post) => { %>
        <div class = 'post'>
            <h1><%= post.name%></h1>
            <a href="<%= post.description %>">Description</a>
            <h2><%= post.time%></h2>
            <h3><%= post.author%></h3>
        </div>
    <% }) %>
    <button type="button" id = 'button'>New post</button>
</body>
</html>