body {
  font-family: Arial, sans-serif;
  margin: 20px;
  height: 90vh;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  justify-content: center;
}

input, button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 25px;
  font-size: 18px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  height: 50px;
}